body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

header {
    background-color: #0078d7;
    color: white;
    padding: 20px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}